/** layui-v2.1.5 MIT License By http://www.layui.com */

html #layuicss-skincodecss {
    display: none;
    position: absolute;
    width: 1989rem
}

.layui-code-h3,
.layui-code-view {
    position: relative;
    font-size: 12rem
}

.layui-code-view {
    display: block;
    margin: 10rem 0;
    padding: 0;
    border: 1rem solid #e2e2e2;
    border-left-width: 6rem;
    background-color: #F2F2F2;
    color: #333;
    font-family: Courier New
}

.layui-code-h3 {
    padding: 0 10rem;
    height: 32rem;
    line-height: 32rem;
    border-bottom: 1rem solid #e2e2e2
}

.layui-code-h3 a {
    position: absolute;
    right: 10rem;
    top: 0;
    color: #999
}

.layui-code-view .layui-code-ol {
    position: relative;
    overflow: auto
}

.layui-code-view .layui-code-ol li {
    position: relative;
    margin-left: 45rem;
    line-height: 20rem;
    padding: 0 5rem;
    border-left: 1rem solid #e2e2e2;
    list-style-type: decimal-leading-zero;
    *list-style-type: decimal;
    background-color: #fff
}

.layui-code-view pre {
    margin: 0
}

.layui-code-notepad {
    border: 1rem solid #0C0C0C;
    border-left-color: #3F3F3F;
    background-color: #0C0C0C;
    color: #C2BE9E
}

.layui-code-notepad .layui-code-h3 {
    border-bottom: none
}

.layui-code-notepad .layui-code-ol li {
    background-color: #3F3F3F;
    border-left: none
}