.main-menu {
    height: 62rem;
    box-shadow: none;
}

.main-menu .main-menu-btnbox {
    height: 62rem;
    background-color: #eee;
}

.main-menu .main-menu-btnbox .menu-box {
    display: block;
    float: left;
    width: 25%;
    height: 62rem;
    text-decoration: none;
}

.main-menu .main-menu-btnbox .menu-box .icon-01 .icon-nor {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-nor-01.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-01 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-01.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-02 .icon-nor {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-nor-02.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-02 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-02.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-03 .icon-nor {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-nor-03.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-03 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-03.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-04 .icon-nor {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-nor-04.png);
}

.main-menu .main-menu-btnbox .menu-box .icon-04 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-04.png);
}

.main-menu .main-menu-btnbox .menu-box .icon {
    position: relative;
    display: block;
    margin: 14rem 0 0rem;
    text-align: center;
}

.main-menu .main-menu-btnbox .menu-box .icon font {
    display: block;
    width: 100%;
    height: 30rem;
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-menu .main-menu-btnbox .menu-box .icon .icon-nor {
    display: block;
}

.main-menu .main-menu-btnbox .menu-box .icon .icon-act {
    display: none;
}

.main-menu .main-menu-btnbox .menu-box .icon .point-box {
    position: absolute;
    top: -3rem;
    right: 29%;
    z-index: 99;
    display: block;
    min-width: 14rem;
    height: 14rem;
    padding: 0;
    border-radius: 1.4rem;
    font-size: 12rem;
    line-height: 13rem;
    color: #fff;
    padding: 0 3rem;
    background-color: #ff0000;
}

.main-menu .main-menu-btnbox .menu-box .menu-title {
    color: #888;
    font-size: 8pt;
}

.main-menu .main-menu-btnbox .menu-box.active .icon-nor {
    display: none;
}

.main-menu .main-menu-btnbox .menu-box.active .icon-act {
    display: block;
}

.main-menu .main-menu-btnbox .menu-box:hover {
    text-decoration: none;
}

.qh-page-content {
    width: 100%;
    height: calc(100vh - 62.01rem);
}

.qh-page-content .qh-page-bg {
    width: 100%;
    height: calc(100vh - 62.01rem);
    overflow: auto;
}

.qh-page-content .qh-user-info-part {
    width: 100%;
    height: 21vh;
    padding: 20rem 30rem 0;
}

.qh-page-content .qh-user-info-part .user-photo {
    float: left;
    width: 48rem;
    height: 48rem;
    margin: 0 15rem 0 0;
    border-style: solid;
    border-width: 3rem;
    border-radius: 8rem;
    overflow: hidden;
}

.qh-page-content .qh-user-info-part .user-photo>img {
    width: 100%;
}

.qh-page-content .qh-user-info-part .info-details-box {
    float: left;
    width: 100%;
    padding: 3rem 0 0;
}

.qh-page-content .qh-user-info-part .info-details-box .info-details-item {
    float: left;
    width: 100%;
    margin: 0 0 6rem;
}

.qh-page-content .qh-user-info-part .info-details-box .info-details-item .tit-box {
    float: left;
    width: 105rem;
    text-align: right;
    margin: 0 5rem 0 0;
    font-size: 10pt;
    color: #fff;
    line-height: 15rem;
}

.qh-page-content .qh-user-info-part .info-details-box .info-details-item .line-box {
    float: left;
    margin: 0 5rem 0 0;
    width: 2rem;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.qh-page-content .qh-user-info-part .info-details-box .info-details-item>font {
    font-size: 12pt;
    color: #fff;
    line-height: 15rem;
}

.qh-page-content .qh-qrcode-main-part {
    width: 100%;
    padding: 25rem 0 0;
}

.qh-page-content .qh-qrcode-main-part.tem-updata-part {
    padding: 13rem 0 0;
}

.qh-page-content .qh-qrcode-main-part .qr-code-box {
    width: 182rem;
    height: 182rem;
    margin: 0 auto;
    padding: 5rem;
    background-color: #fff;
}

.qh-page-content .qh-qrcode-main-part .qr-code-box .no-data {
    width: 172rem;
    height: 172rem;
    display: table;
    margin: 0;
    color: #666;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    vertical-align: middle;
}

.qh-page-content .qh-qrcode-main-part .qr-code-box .no-data .inside-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 15rem;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qrcode-bg.png);
    background-size: 172rem;
    background-repeat: no-repeat;
    background-position: center;
}

.qh-page-content .qh-qrcode-main-part .qr-code-time {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: #888;
    font-family: 'Arial';
    line-height: 1;
    margin-top: 2vh;
}

.qh-page-content .qh-qrcode-main-part .qr-code-place {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: #353535;
    font-family: 'Arial';
    line-height: 1;
    margin-top: 12rem;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn {
    width: 100%;
    padding: 2vh 0 2vh;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn>a {
    display: block;
    height: 35rem;
    width: 285rem;
    margin: 0 auto;
    line-height: 34rem;
    font-size: 14pt;
    text-align: center;
    color: #fff;
    border-radius: 18rem;
    font-weight: bold;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn>a.english {
    margin: 10rem auto 0;
    letter-spacing: -1rem;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.green a {
    background-color: #009847;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.green a.english {
    background-color: #e0f2e9;
    color: #009847;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.red a {
    background-color: #b80000;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.red a.english {
    background-color: #f6e0e0;
    color: #b80000;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.orange a {
    background-color: #d97600;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.orange a.english {
    background-color: #faeee0;
    color: #d97600;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.gray a {
    background-color: #7d7d7d;
}

.qh-page-content .qh-qrcode-main-part .qr-code-btn.gray a.english {
    background-color: #efefef;
    color: #7d7d7d;
}

.qh-page-content .qh-qrcode-main-part .app-link-box {
    width: 100%;
    padding: 10rem 0 0;
}

.qh-page-content .qh-qrcode-main-part .app-link-box .app-link-item {
    float: left;
    width: 25%;
    height: 72rem;
    margin: 0 0 15rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box .app-link-item>a {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.qh-page-content .qh-qrcode-main-part .app-link-box .app-link-item>a>img {
    display: block;
    width: 50rem;
    margin: 0 auto 6rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box .app-link-item>a .app-name {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 9.1pt;
    color: #333;
    line-height: 1;
}

.qh-page-content .qh-qrcode-main-part .app-link-box .app-link-item>a .app-name-en {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 7.5pt;
    color: #888;
    line-height: 1;
    margin: 5rem 0 0;
    letter-spacing: -1rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.one-item {
    padding: 0 20rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.one-item .app-link-item {
    width: 100%;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.two-item {
    padding: 0 60rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.two-item .app-link-item {
    width: 50%;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.three-item {
    padding: 0 30rem;
}

.qh-page-content .qh-qrcode-main-part .app-link-box.three-item .app-link-item {
    width: 33.3333333333%;
}

.qh-page-content .qh-qrcode-main-part .in-out-btn-content {
    width: 285rem;
    height: 34rem;
    margin: 0 auto;
}

.qh-page-content .qh-qrcode-main-part .in-out-btn-content .out-btn {
    float: left;
    width: calc(50% - 6rem);
    height: 34rem;
    line-height: 33rem;
    text-align: left;
    padding: 0 0 0 52rem;
    border-radius: 17rem 0 0 17rem;
    background-position: 15rem center;
    background-repeat: no-repeat;
    background-size: auto 12rem;
    font-size: 11pt;
    font-weight: bold;
}

.qh-page-content .qh-qrcode-main-part .in-out-btn-content .in-btn {
    float: right;
    width: calc(50% - 6rem);
    height: 34rem;
    line-height: 33rem;
    text-align: right;
    padding: 0 48rem 0 0;
    border-radius: 0 17rem 17rem 0;
    background-color: #d6ffe5;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/icon/qh/arr-right-color-1.png);
    background-position: calc(100% - 10rem) center;
    background-repeat: no-repeat;
    background-size: auto 12rem;
    font-size: 11pt;
    color: #019944;
    font-weight: bold;
}

.qh-page-content .qh-qrcode-main-part .in-out-btn-content font {
    font-size: 9pt;
    letter-spacing: -0.5rem;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content {
    width: calc(100% - 48rem);
    height: 300rem;
    margin: 0 24rem;
    padding: 40rem 0 0;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/updata-tem-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-title {
    width: 100%;
    margin: 0 0 8rem;
    line-height: 1;
    text-align: center;
    font-size: 15pt;
    color: #934c17;
    font-weight: bold;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-title-en {
    width: 100%;
    margin: 0 0 28rem;
    line-height: 1;
    text-align: center;
    font-size: 9pt;
    color: #934c17;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form {
    width: 170rem;
    padding: 0 0;
    margin: 0 auto 10rem;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .title-box {
    float: left;
    width: 100%;
    font-size: 12pt;
    line-height: 30rem;
    color: #353535;
    font-weight: bold;
    text-align: center;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .title-box>font {
    font-size: 9pt;
    font-weight: normal;
    color: #888;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .text-box {
    float: left;
    width: 100%;
    font-size: 12pt;
    line-height: 30rem;
    color: #353535;
    letter-spacing: 1rem;
    font-weight: bold;
    text-align: center;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .input-text-box {
    float: left;
    width: 100%;
    height: 30rem;
    border-radius: 3rem;
    border: 1rem solid #bebebe;
    background-color: #fff;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .input-text-box>input {
    float: left;
    width: 82%;
    padding: 0 15rem;
    height: 28rem;
    font-size: 12pt;
    color: #353535;
    line-height: 28rem;
    border: none;
    border-radius: 3rem;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-form .input-text-box>font {
    float: left;
    font-size: 12pt;
    line-height: 30rem;
    color: #d2d2d2;
    font-weight: bold;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-btn {
    display: block;
    width: 254rem;
    height: 47rem;
    padding: 7rem 0 0;
    border-radius: 24rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1rem;
    color: #fff;
    font-weight: bold;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/tem-updata-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-btn>span {
    float: left;
    width: 100%;
    font-size: 13pt;
    line-height: 1;
}

.qh-page-content .qh-qrcode-main-part .qh-tem-updata-content .qh-tem-updata-btn>font {
    float: left;
    width: 100%;
    font-size: 8pt;
    line-height: 1;
    margin: 5rem 0 0;
}

.color-1 .qh-page-content {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-index-bg-2-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -52rem;
}

.color-1 .qh-page-content .user-photo {
    border-color: #691376;
}

.color-1 .qh-page-content .in-out-btn-content .out-btn {
    background-color: #eed6ff;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/icon/qh/arr-left-color-1.png);
    color: #983ea6;
}

.color-1 .qh-page-bg {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-index-bg-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -52rem;
}

.color-1 .main-menu {
    height: 62rem;
}

.color-1 .main-menu .main-menu-btnbox {
    height: 62rem;
    background-color: #eee;
}

.color-1 .main-menu .main-menu-btnbox .menu-box {
    display: block;
    float: left;
    width: 25%;
    height: 62rem;
    text-decoration: none;
}

.color-1 .main-menu .main-menu-btnbox .menu-box .icon-01 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-01.png);
}

.color-1 .main-menu .main-menu-btnbox .menu-box .icon-02 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-02.png);
}

.color-1 .main-menu .main-menu-btnbox .menu-box .icon-03 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-03.png);
}

.color-1 .main-menu .main-menu-btnbox .menu-box .icon-04 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-04.png);
}

.color-1 .main-menu .main-menu-btnbox .menu-box.active .menu-title {
    color: #8f2f9d;
}

.color-2 .qh-page-content {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-index-bg-1-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -52rem;
}

.color-2 .qh-page-content .user-photo {
    border-color: #009dd1;
}

.color-2 .qh-page-content .in-out-btn-content .out-btn {
    background-color: #d2e9f4;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/icon/qh/arr-left-color-2.png);
    color: #0064a7;
}

.color-2 .qh-record-page-outside .qh-record-page-content {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-record-bg-2.png);
}

.color-2 .qh-page-bg {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-index-bg-1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -52rem;
}

.color-2 .main-menu {
    height: 62rem;
}

.color-2 .main-menu .main-menu-btnbox {
    height: 62rem;
    background-color: #eee;
}

.color-2 .main-menu .main-menu-btnbox .menu-box {
    display: block;
    float: left;
    width: 25%;
    height: 62rem;
    text-decoration: none;
}

.color-2 .main-menu .main-menu-btnbox .menu-box .icon-01 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-01-2.png);
}

.color-2 .main-menu .main-menu-btnbox .menu-box .icon-02 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-02-2.png);
}

.color-2 .main-menu .main-menu-btnbox .menu-box .icon-03 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-03-2.png);
}

.color-2 .main-menu .main-menu-btnbox .menu-box .icon-04 .icon-act {
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/menu/qh/icon-act-04-2.png);
}

.color-2 .main-menu .main-menu-btnbox .menu-box.active .menu-title {
    color: #0072ad;
}

.qh-record-page-outside {
    background-color: #e5e8f1;
}

.qh-record-page-outside .qh-record-page-content {
    width: 100%;
    height: calc(100vh - 62.01rem);
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/bg/qh-record-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -42rem;
}

.qh-record-page-outside .qh-record-page-content.place-page {
    background-position: 0 -60rem;
}

.qh-record-page-outside .qh-record-page-content .qh-record-page-title {
    padding: 15rem 16rem 0;
}

.qh-record-page-outside .qh-record-page-content .qh-record-page-title>a {
    display: block;
    color: #fff;
    padding: 13rem 12rem;
    line-height: 1;
    height: 40rem;
    font-size: 10pt;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part {
    width: 100%;
    padding: 2rem 16rem 0;
    height: calc(100vh - 117.01rem);
    overflow: auto;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part .qh-record-item {
    width: 100%;
    height: 120rem;
    padding: 20rem 34rem 13rem;
    margin: 0 0 13rem;
    border-radius: 5rem;
    background-color: #fff;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part .qh-record-item .tit-line {
    width: 100%;
    margin: 0 0 7rem;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part .qh-record-item .tit-line .name-box {
    float: left;
    height: 16rem;
    font-size: 12pt;
    color: #353535;
    line-height: 1;
    font-weight: bold;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part .qh-record-item .tit-line .tag-box {
    float: left;
    height: 14rem;
    margin: 1rem 0 0 10rem;
    padding: 0 5rem;
    line-height: 14rem;
    font-size: 8pt;
    font-weight: bold;
    color: #fff;
    background-color: #e30052;
    border-radius: 4rem;
}

.qh-record-page-outside .qh-record-page-content .qh-record-main-part .qh-record-item .info-line {
    width: 100%;
    font-size: 10pt;
    color: #888;
    line-height: 1;
    margin: 0 0 9rem;
}

.qh-record-page-outside .qh-record-page-content .search-content-outside {
    width: 100%;
    padding: 15rem 45rem 14rem;
}

.qh-record-page-outside .qh-record-page-content .search-content-outside .qh-search-content {
    float: left;
    width: 100%;
    height: 30rem;
    padding: 0 10rem;
    background-color: #fff;
    border-radius: 15rem;
    overflow: hidden;
}

.qh-record-page-outside .qh-record-page-content .search-content-outside .qh-search-content .search-icon {
    float: left;
    width: 19rem;
    margin: 7rem 0 0;
}

.qh-record-page-outside .qh-record-page-content .search-content-outside .qh-search-content .search-input {
    float: right;
    width: calc(100% - 30rem);
    height: 30rem;
    line-height: 29rem;
    border: none;
    background: #fff;
    color: #888;
    font-size: 11pt;
}

.qh-record-page-outside .qh-record-page-content .note-block-content {
    width: calc(100% - 32rem);
    height: calc(100vh - 140.01rem);
    margin: 0 16rem;
    padding: 15rem 33rem;
    background-color: #fff;
    border-radius: 6rem;
    overflow: auto;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item {
    width: 100%;
    padding: 9rem 0 13rem;
    border-bottom: 1rem solid #e5e8f1;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item .title-line {
    width: 100%;
    margin: 0 0 3rem;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item .title-line .title-box {
    float: left;
    max-width: calc(100% - 30rem);
    font-size: 10pt;
    color: #353535;
    line-height: 22rem;
    font-weight: bold;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item .title-line .tag-box {
    float: left;
    display: block;
    height: 16rem;
    margin: 3rem 0 0 5rem;
    padding: 0 3rem;
    font-size: 9pt;
    line-height: 15rem;
    color: #fff;
    font-weight: bold;
    border-radius: 4rem;
    background-color: #e9611d;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item .info-line {
    width: 100%;
    font-size: 9pt;
    color: #888888;
    line-height: 1;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item.done .title-line .title-box {
    font-weight: normal;
    color: #999;
}

.qh-record-page-outside .qh-record-page-content .note-block-content .note-block-item.done .info-line {
    color: #999;
}

.qh-record-page-outside .qh-record-page-content .place-tab-outside {
    width: 100%;
    padding: 13rem 36rem 3rem;
}

.qh-record-page-outside .qh-record-page-content .place-tab-content .swiper-slide {
    font-size: 10pt;
    color: #fff;
    padding: 12rem 0;
    line-height: 16rem;
    text-align: center;
}

.qh-record-page-outside .qh-record-page-content .place-tab-content .swiper-slide.active {
    font-size: 12pt;
    color: #fff;
    font-weight: bold;
}

.qh-record-page-outside .qh-record-page-content .place-block-content {
    padding: 0 16rem;
    height: calc(100vh - 118.01rem);
    overflow: auto;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item {
    width: 100%;
    height: 100rem;
    padding: 23rem 20rem 10rem 34rem;
    margin: 0 0 13rem;
    border-radius: 5rem;
    background-color: #fff;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line {
    width: 100%;
    margin: 0 0 3rem;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line .tit-box {
    float: left;
    max-width: calc(100% - 150rem);
    font-size: 10pt;
    color: #353535;
    line-height: 22rem;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line .star-box {
    float: left;
    width: 15rem;
    height: 15rem;
    margin: 3rem 0 0 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/icon/qh/star-act.png);
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line .temperature-box {
    float: left;
    padding: 0 0 0 20rem;
    margin: 0 0 0 10rem;
    font-size: 8pt;
    color: #34c5ce;
    height: 22rem;
    line-height: 22rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 19rem;
    background-image: url(https://health.hust.edu.cn/new_jp/resource/image/hs/icon/qh/temperature-icon.png);
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line .tag-box {
    float: right;
    display: block;
    height: 16rem;
    margin: 3rem 0 0;
    padding: 0 3rem;
    font-size: 9pt;
    line-height: 15rem;
    color: #fff;
    font-weight: bold;
    border-radius: 4rem;
    background-color: #e30052;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .info-line {
    width: 100%;
    font-size: 9pt;
    color: #888888;
    line-height: 1;
}

.qh-record-page-outside .qh-record-page-content .place-block-content .place-block-item .title-line .temperature-box {
    color: #ff0303;
}