.Wdate {
    border: #999 1rem solid;
    height: 20rem;
    background: #fff url(datePicker.gif) no-repeat right;
}

.Wdate::-ms-clear {
    display: none;
}

.WdateFmtErr {
    font-weight: bold;
    color: red;
}